.center {
    padding: 10px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.center table {
    max-width: 100%;
}

#actions-holder td,
th {
    border: 1px solid black;
}

#gordel-btn {
    display: block;
    margin: 0 auto;
}

.content {
    white-space: normal;
}

#json-btn {
    display: block;
    margin: 0 auto;
}

#json-text {
    width: 450px;
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    resize: none;
}

#json-container {
    text-align: center;
    margin-top: 20px; /* Adjust as needed */
}

#json-container button {
    display: inline-block;
    margin: 0 5px;
    margin-top: 10px;
}